/*
_________________________
|                       |
|         body          |
|                       |
-------------------------
*/

html, body {
    height: 100%;
    background-color: #e3e3e3;
    
}

#body-container{
    overflow: auto;
    position: relative; 
    margin-top: 20px;
    border-radius: 20px;
    background-color: #fafafa;
    border-width: 0.5px;    
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    box-shadow: 0 3px 1px 0 #c7c7c7, 5px 15px 30px -5px rgb(156 160 185 / 56%);
}
#review-container{
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#comments-section{
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

}

/*--------------------------------------*/
#review-container .info{
    border-radius: 5px;
    position: relative;
    margin-right: 1px solid;
}
#review-container .tags{
    border-radius: 5px;
    margin-top: -10px;
}
#review-container .review-holder{
    border-radius: 5px;
    margin-top: 15px;
}

/*--------------------------------------*/
#review-container .info h1{
    font-size: 30px;
    margin-right: 10px;
}
#review-container .info h2{
    font-size: 18px;
    margin-right: 2px;
}
#review-container .info h3{
    font-size: 18px;
}

/*--------------------------------------*/
#review-container .tags h1{
    font-size: 20px;
    margin-right: 5px;
}
#review-container .tags h2{
    font-size: 18px;
    margin-right: 10px;
}

#review-container .reactions{
    border-top: solid;
    border-width: 0.5px;
    position: relative;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 50px;
}
#review-container .reactions h1{
    position: relative;
    top: 10px;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

#review-container .reactions h1:hover{
    color: orange;
    cursor: pointer;
}

.icon-act{
    position: relative;
    top: 50%;
    transform: translateY(-10%);
    width: 20px;
}


.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.like:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.comments:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.share:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------*/
#comments-section .user-comment{
    background-color: #EEEEEE;
    border-radius: 5px;
    position: relative;
    height: 50px;
}
#comments-section .user-comment-np{
    background-color: #EEEEEE;
    border-radius: 5px;
    position: relative;
}

#comments-section .user-comment h1{
    font-size: 30px;
    line-height: 50px;
    float: left;
    margin-left: 20px;
}
#comments-section .user-comment-np h1{
    font-size: 30px;
    line-height: 50px;
    margin-left: 20px;
}
#comments-section .user-comment-np textarea{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 100px;
    margin-top: -10px;

}

.user-comment .buttons{
    float: right;
    line-height: 50px;
}
.user-comment-np .buttons{
    position: relative;
    margin-top: -5px;
}
.user-comment-np .buttons input{
    background-color: orange;
    border-style: 5px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border-style: none;
    border-color: black;
    border-width: 0.5px;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
}
.user-comment-np .buttons input:hover{
    background-color: darkorange;
    font-size: 25px;
}

/*--------------------------------------*/
#comments-section .generic-comment{
    border-radius: 5px;
    margin-top: 20px;
}
.generic-comment .comment-info{
    border-left: solid;
    border-width: 0.5px;
    height: 50px;
    position: relative;
}
.generic-comment .comment-info img{
    width: 30px;
    left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.generic-comment .comment-info h1{
    font-size: 15px;
    line-height: 40px;
}
.generic-comment .comment-info div{
    font-size: 25px;
    margin-right: 5px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 50px;
}

#comments-section .generic-comment{
    border-radius: 5px;
    margin-top: 20px;
}

.generic-comment .comment-text{
    border-right: solid;
    border-width: 0.5px;
    position: relative;
}
.generic-comment .comment-text p{
    top: 50%;
    width: 89%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}